{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez SuperMarket !{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Ma boutique en ligne</title>
    <style>
        body{
            margin: auto;
            padding: auto;
        }
        .shop{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .shop .product{
            margin: 20px;
        }
        /* style pour les produits */
        .product {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 300px;
        }

        .product img {
            max-width: 100%;
            width: 300px;
            height: 200px;

        }

        .product h2 {
            margin: 10px 0;
        }

        .product p {
            margin: 0;
            font-size: 14px;
            line-height: 1.5;
        }

        .product-price {
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0;
        }

        .quantity {
            margin-top: 10px;
        }

        .quantity label {
            display: inline-block;
            margin-right: 10px;
        }

        .quantity input {
            width: 50px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 14px;
            text-align: center;
        }

        .quantity button {
            padding: 5px 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 14px;
            cursor: pointer;
        }

        .quantity button:hover {
            background-color: #ccc;
        }
        /* Style pour le header */
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* Style pour les boutons */
        .button {
            display: inline-block;
            padding: 10px;
            border: none;
            background-color: #fff;
            color: #333;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
<header>
    <h1>Superette</h1>
    <div>
        <a class="button" href="{{ path('app_shop') }}">Shop</a>
        <a class="button" href="{{ path('app_login') }}">Connexion Admin</a>
    </div>
</header>
<div class="shop">
    {% for p in produits %}
        <div class="product">
            <img src="https://www.foodette.fr/wp-content/uploads/2017/08/apple-417924_1920-compressor-1024x656.jpg" alt="Produit 2">
            <h2>{{p.title }}</h2>
            <p>{{ p.description }}</p>
            <div class="product-price">{{ p.price }} €</div>
            <div class="quantity">
                <label for="quantity-2">Quantité : {{ p.quantity }}</label>
                <button>Ajouter au panier</button>
            </div>
        </div>
    {% endfor %}
</div>


</body>
{% endblock %}
